<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mycon" connectionString="Data Source=DESKTOP-3PJUUF2\SQLEXPRESS;Initial Catalog=FoodPortal;Integrated Security=True;Pooling=False" />
    <add name="FoodPortalConnectionString" connectionString="Data Source=DESKTOP-3PJUUF2\SQLEXPRESS;Initial Catalog=FoodPortal;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
